In [1]:
import pandas as pd

In [1]:
#code by chenyuzhou

In [6]:
df = pd.read_csv('C:/Users/chenyuzhou/Desktop/customer.csv')

In [10]:
df

,user_id,interval_2_1,interval_3_2,interval_4_3,interval_3_1,interval_4_1,interval_4_2,sub_interval,first_spend,third_spend,first+second_spend,second+third_spend,first+second+third_spend,label,label2
0,86499,2.911871,9999.000000,9999.0,9999.000000,9999.0,9999.0,23,2.00,0.00,16.00,14.00,16.00,no_loyal,no_loyal
1,86500,0.842518,17.032144,9999.0,17.874661,9999.0,9999.0,23,2.00,14.00,16.00,28.00,30.00,no_loyal,no_loyal
2,86501,2.952185,9999.000000,9999.0,9999.000000,9999.0,9999.0,23,2.00,0.00,16.00,14.00,16.00,no_loyal,no_loyal
3,86502,0.706260,9999.000000,9999.0,9999.000000,9999.0,9999.0,23,2.00,0.00,16.00,14.00,16.00,no_loyal,no_loyal
4,86503,1.223789,9999.000000,9999.0,9999.000000,9999.0,9999.0,23,2.00,0.00,16.00,14.00,16.00,no_loyal,no_loyal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44083,133830,9999.000000,9999.000000,9999.0,9999.000000,9999.0,9999.0,23,256.26,0.00,256.26,0.00,256.26,no_loyal,no_loyal
44084,133834,9999.000000,9999.000000,9999.0,9999.000000,9999.0,9999.0,23,34.24,0.00,34.24,0.00,34.24,no_loyal,no_loyal
44085,133836,0.098785,14.097189,9999.0,14.195974,9999.0,9999.0,23,14.98,17.66,36.92,39.60,54.58,no_loyal,no_loyal
44086,133837,14.077242,9999.000000,9999.0,9999.000000,9999.0,9999.0,23,14.98,0.00,32.64,17.66,32.64,no_loyal,no_loyal
44087,133838,30.974825,9999.000000,9999.0,9999.000000,9999.0,9999.0,23,22.47,17.66,40.13,35.32,57.79,no_loyal,no_loyal

In [16]:
df['label'].value_counts()

no_loyal      36493
fund_infor     3486
infor          3478
fund            631
Name: label, dtype: int64

In [8]:
df21 = df[df.interval_2_1 != 9999.000000]

In [9]:
df21

,user_id,interval_2_1,interval_3_2,interval_4_3,interval_3_1,interval_4_1,interval_4_2,sub_interval,first_spend,third_spend,first+second_spend,second+third_spend,first+second+third_spend,label,label2
0,86499,2.911871,9999.000000,9999.0,9999.000000,9999.0,9999.0,23,2.00,0.00,16.00,14.00,16.00,no_loyal,no_loyal
1,86500,0.842518,17.032144,9999.0,17.874661,9999.0,9999.0,23,2.00,14.00,16.00,28.00,30.00,no_loyal,no_loyal
2,86501,2.952185,9999.000000,9999.0,9999.000000,9999.0,9999.0,23,2.00,0.00,16.00,14.00,16.00,no_loyal,no_loyal
3,86502,0.706260,9999.000000,9999.0,9999.000000,9999.0,9999.0,23,2.00,0.00,16.00,14.00,16.00,no_loyal,no_loyal
4,86503,1.223789,9999.000000,9999.0,9999.000000,9999.0,9999.0,23,2.00,0.00,16.00,14.00,16.00,no_loyal,no_loyal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44081,133827,0.653376,9999.000000,9999.0,9999.000000,9999.0,9999.0,23,72.76,0.00,145.52,72.76,145.52,no_loyal,no_loyal
44082,133829,30.093320,9999.000000,9999.0,9999.000000,9999.0,9999.0,23,14.98,0.00,29.96,14.98,29.96,no_loyal,no_loyal
44085,133836,0.098785,14.097189,9999.0,14.195974,9999.0,9999.0,23,14.98,17.66,36.92,39.60,54.58,no_loyal,no_loyal
44086,133837,14.077242,9999.000000,9999.0,9999.000000,9999.0,9999.0,23,14.98,0.00,32.64,17.66,32.64,no_loyal,no_loyal
44087,133838,30.974825,9999.000000,9999.0,9999.000000,9999.0,9999.0,23,22.47,17.66,40.13,35.32,57.79,no_loyal,no_loyal

In [32]:
df.groupby('label')['interval_2_1'].median()

label
fund             1.754269
fund_infor      13.335436
infor           30.476083
no_loyal      1485.085033
Name: interval_2_1, dtype: float64

In [33]:
df.groupby('label')['interval_3_2'].median()

label
fund            13.916157
fund_infor      21.941663
infor          250.913708
no_loyal      9999.000000
Name: interval_3_2, dtype: float64

In [34]:
df.groupby('label')['interval_4_3'].median()

label
fund            14.089667
fund_infor      28.018163
infor         9999.000000
no_loyal      9999.000000
Name: interval_4_3, dtype: float64

In [36]:
df21.groupby('label')['interval_2_1'].median()

label
fund           1.439716
fund_infor    13.320525
infor         20.977450
no_loyal       2.088215
Name: interval_2_1, dtype: float64

In [37]:
df32.groupby('label')['interval_3_2'].median()

label
fund          12.967361
fund_infor    14.048382
infor         27.039998
no_loyal      16.002281
Name: interval_3_2, dtype: float64

In [38]:
df43.groupby('label')['interval_4_3'].median()

label
fund          13.572256
fund_infor    15.000000
infor         29.604364
no_loyal      18.930364
Name: interval_4_3, dtype: float64

In [17]:
df21['label'].value_counts()

no_loyal      18253
fund_infor     3462
infor          2560
fund            580
Name: label, dtype: int64

In [11]:
df32 = df[df.interval_3_2 != 9999.000000]

In [12]:
df32

,user_id,interval_2_1,interval_3_2,interval_4_3,interval_3_1,interval_4_1,interval_4_2,sub_interval,first_spend,third_spend,first+second_spend,second+third_spend,first+second+third_spend,label,label2
1,86500,0.842518,17.032144,9999.000000,17.874661,9999.000000,9999.000000,23,2.00,14.00,16.00,28.00,30.00,no_loyal,no_loyal
6,86505,0.641310,7.120142,9999.000000,7.761451,9999.000000,9999.000000,23,2.00,14.00,16.00,28.00,30.00,no_loyal,no_loyal
7,86506,0.689633,43.970446,81.862447,44.660080,126.522527,125.832893,23,14.00,14.00,28.00,28.00,42.00,no_loyal,no_loyal
9,86508,0.603214,6.985570,9999.000000,7.588784,9999.000000,9999.000000,23,2.00,14.00,16.00,28.00,30.00,no_loyal,no_loyal
10,86509,0.200080,9.877896,9999.000000,10.077976,9999.000000,9999.000000,23,2.00,0.00,16.00,14.00,16.00,no_loyal,no_loyal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43990,133696,5.302198,7.000000,7.000000,12.302198,19.302198,14.000000,6,19.26,19.26,38.52,38.52,57.78,no_loyal,no_loyal
44011,133718,0.476304,13.687269,9999.000000,14.163573,9999.000000,9999.000000,23,0.56,0.00,1.12,0.56,1.12,no_loyal,no_loyal
44012,133719,11.882018,18.567528,14.000000,30.449545,44.449545,32.567528,31,9.63,19.26,23.89,33.52,43.15,no_loyal,no_loyal
44060,133773,23.678141,7.000000,9999.000000,30.678141,9999.000000,9999.000000,23,34.24,17.66,56.18,39.60,73.84,no_loyal,no_loyal
44085,133836,0.098785,14.097189,9999.000000,14.195974,9999.000000,9999.000000,23,14.98,17.66,36.92,39.60,54.58,no_loyal,no_loyal

In [18]:
df32['label'].value_counts()

no_loyal      10172
fund_infor     2676
infor          1871
fund            546
Name: label, dtype: int64

In [13]:
df43 = df[df.interval_4_3 != 9999.000000]

In [15]:
df43

,user_id,interval_2_1,interval_3_2,interval_4_3,interval_3_1,interval_4_1,interval_4_2,sub_interval,first_spend,third_spend,first+second_spend,second+third_spend,first+second+third_spend,label,label2
7,86506,0.689633,43.970446,81.862447,44.660080,126.522527,125.832893,23,14.00,14.00,28.00,28.00,42.00,no_loyal,no_loyal
14,86513,0.467208,10.999195,21.060489,11.466403,32.526892,32.059683,23,2.00,14.00,16.00,28.00,30.00,no_loyal,no_loyal
15,86514,0.521992,6.089268,6.866757,6.611260,13.478017,12.956025,23,7.00,14.00,21.00,28.00,35.00,no_loyal,no_loyal
27,86526,0.003758,0.462671,26.823263,0.466428,27.289692,27.285934,23,9.00,14.00,57.00,62.00,71.00,no_loyal,no_loyal
28,86527,0.920944,34.008433,34.093063,34.929377,69.022440,68.101496,23,2.00,14.00,16.00,28.00,30.00,no_loyal,no_loyal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43853,133546,13.147681,14.000000,14.000000,27.147681,41.147681,28.000000,14,12.84,12.84,25.68,25.68,38.52,no_loyal,no_loyal
43858,133551,8.656517,10.000000,8.000000,18.656517,26.656517,18.000000,31,64.20,17.66,81.86,35.32,99.52,fund_infor,loyal
43859,133552,13.453604,14.000000,14.000000,27.453604,41.453604,28.000000,12,14.98,14.98,29.96,29.96,44.94,infor,loyal
43990,133696,5.302198,7.000000,7.000000,12.302198,19.302198,14.000000,6,19.26,19.26,38.52,38.52,57.78,no_loyal,no_loyal
44012,133719,11.882018,18.567528,14.000000,30.449545,44.449545,32.567528,31,9.63,19.26,23.89,33.52,43.15,no_loyal,no_loyal

In [19]:
df43['label'].value_counts()

no_loyal      6518
fund_infor    2463
infor         1491
fund           526
Name: label, dtype: int64