In [1]:
import pandas as pd

In [2]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import matthews_corrcoef
from sklearn.model_selection import train_test_split
from boruta import BorutaPy

In [12]:
import numpy as np

In [8]:
f2 = pd.read_csv('C:/Users/chenyuzhou/Desktop/f2.csv')

In [9]:
f2

,user_id,order_times_in_first_1days,order_times_in_first_2days,order_times_in_first_3days,order_times_in_first_4days,order_times_in_first_5days,order_times_in_first_6days,order_times_in_first_7days,order_times_in_first_8days,order_times_in_first_9days,...,cancel_order_times_in_first_13days,cancel_order_times_in_first_14days,interval_2_1,interval_3_2,interval_4_3,interval_3_1,interval_4_1,interval_4_2,label,label2
0,86499,1,1,1,1,1,1,1,1,1,...,1,1,2.911871,inf,inf,2.911871,2.911871,inf,no_loyal,no_loyal
1,86500,2,2,2,2,2,2,2,2,2,...,1,1,0.842518,17.032144,inf,17.874661,17.874661,17.032144,no_loyal,no_loyal
2,86501,1,1,1,1,1,1,1,1,1,...,1,1,2.952185,inf,inf,2.952185,2.952185,inf,no_loyal,no_loyal
3,86502,1,1,1,1,1,1,1,1,1,...,1,1,0.706260,inf,inf,0.706260,0.706260,inf,no_loyal,no_loyal
4,86503,1,1,1,1,1,1,1,1,1,...,1,1,1.223789,inf,inf,1.223789,1.223789,inf,no_loyal,no_loyal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44083,133830,0,0,0,0,0,0,0,0,0,...,0,0,inf,inf,inf,inf,inf,inf,no_loyal,no_loyal
44084,133834,0,0,0,0,0,0,0,0,0,...,0,0,inf,inf,inf,inf,inf,inf,no_loyal,no_loyal
44085,133836,0,0,0,0,0,0,0,0,0,...,0,0,0.098785,14.097189,inf,14.195974,14.195974,14.097189,no_loyal,no_loyal
44086,133837,0,0,0,0,0,0,0,0,0,...,0,0,14.077242,inf,inf,14.077242,14.077242,inf,no_loyal,no_loyal
44087,133838,0,0,0,0,0,0,0,0,0,...,0,0,30.974825,inf,inf,30.974825,30.974825,inf,no_loyal,no_loyal

In [10]:
f2.columns

Index(['user_id', 'order_times_in_first_1days', 'order_times_in_first_2days',
       'order_times_in_first_3days', 'order_times_in_first_4days',
       'order_times_in_first_5days', 'order_times_in_first_6days',
       'order_times_in_first_7days', 'order_times_in_first_8days',
       'order_times_in_first_9days', 'order_times_in_first_10days',
       'order_times_in_first_11days', 'order_times_in_first_12days',
       'order_times_in_first_13days', 'order_times_in_first_14days',
       'cancel_order_times_in_first_1days',
       'cancel_order_times_in_first_2days',
       'cancel_order_times_in_first_3days',
       'cancel_order_times_in_first_4days',
       'cancel_order_times_in_first_5days',
       'cancel_order_times_in_first_6days',
       'cancel_order_times_in_first_7days',
       'cancel_order_times_in_first_8days',
       'cancel_order_times_in_first_9days',
       'cancel_order_times_in_first_10days',
       'cancel_order_times_in_first_11days',
       'cancel_order_times_in_first_12days',
       'cancel_order_times_in_first_13days',
       'cancel_order_times_in_first_14days', 'interval_2_1', 'interval_3_2',
       'interval_4_3', 'interval_3_1', 'interval_4_1', 'interval_4_2', 'label',
       'label2'],
      dtype='object')

In [13]:
for i in range(len(f2)):
    if f2['interval_4_2'][i]==f2['interval_4_1'][i] or f2['interval_4_2'][i]==f2['interval_4_3'][i] or f2['interval_4_3'][i]==f2['interval_4_1'][i]:
        f2['interval_4_2'][i]=np.inf
        f2['interval_4_1'][i]=np.inf
        f2['interval_4_3'][i]=np.inf

C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_10752\362482312.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2['interval_4_2'][i]=np.inf
C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_10752\362482312.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2['interval_4_1'][i]=np.inf
C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_10752\362482312.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2['interval_4_3'][i]=np.inf

In [14]:
f2

,user_id,order_times_in_first_1days,order_times_in_first_2days,order_times_in_first_3days,order_times_in_first_4days,order_times_in_first_5days,order_times_in_first_6days,order_times_in_first_7days,order_times_in_first_8days,order_times_in_first_9days,...,cancel_order_times_in_first_13days,cancel_order_times_in_first_14days,interval_2_1,interval_3_2,interval_4_3,interval_3_1,interval_4_1,interval_4_2,label,label2
0,86499,1,1,1,1,1,1,1,1,1,...,1,1,2.911871,inf,inf,2.911871,inf,inf,no_loyal,no_loyal
1,86500,2,2,2,2,2,2,2,2,2,...,1,1,0.842518,17.032144,inf,17.874661,17.874661,17.032144,no_loyal,no_loyal
2,86501,1,1,1,1,1,1,1,1,1,...,1,1,2.952185,inf,inf,2.952185,inf,inf,no_loyal,no_loyal
3,86502,1,1,1,1,1,1,1,1,1,...,1,1,0.706260,inf,inf,0.706260,inf,inf,no_loyal,no_loyal
4,86503,1,1,1,1,1,1,1,1,1,...,1,1,1.223789,inf,inf,1.223789,inf,inf,no_loyal,no_loyal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44083,133830,0,0,0,0,0,0,0,0,0,...,0,0,inf,inf,inf,inf,inf,inf,no_loyal,no_loyal
44084,133834,0,0,0,0,0,0,0,0,0,...,0,0,inf,inf,inf,inf,inf,inf,no_loyal,no_loyal
44085,133836,0,0,0,0,0,0,0,0,0,...,0,0,0.098785,14.097189,inf,14.195974,14.195974,14.097189,no_loyal,no_loyal
44086,133837,0,0,0,0,0,0,0,0,0,...,0,0,14.077242,inf,inf,14.077242,inf,inf,no_loyal,no_loyal
44087,133838,0,0,0,0,0,0,0,0,0,...,0,0,30.974825,inf,inf,30.974825,inf,inf,no_loyal,no_loyal

In [15]:
for i in range(len(f2)):
    if f2['interval_2_1'][i]==np.inf:
        f2['interval_4_2'][i]=np.inf
        f2['interval_4_1'][i]=np.inf
        f2['interval_4_3'][i]=np.inf
        f2['interval_3_2'][i]=np.inf
        f2['interval_3_1'][i]=np.inf

C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_10752\2712469141.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2['interval_4_2'][i]=np.inf
C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_10752\2712469141.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2['interval_4_1'][i]=np.inf
C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_10752\2712469141.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2['interval_4_3'][i]=np.inf
C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_10752\2712469141.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2['interval_3_2'][i]=np.inf
C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_10752\2712469141.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2['interval_3_1'][i]=np.inf

In [16]:
f2

,user_id,order_times_in_first_1days,order_times_in_first_2days,order_times_in_first_3days,order_times_in_first_4days,order_times_in_first_5days,order_times_in_first_6days,order_times_in_first_7days,order_times_in_first_8days,order_times_in_first_9days,...,cancel_order_times_in_first_13days,cancel_order_times_in_first_14days,interval_2_1,interval_3_2,interval_4_3,interval_3_1,interval_4_1,interval_4_2,label,label2
0,86499,1,1,1,1,1,1,1,1,1,...,1,1,2.911871,inf,inf,2.911871,inf,inf,no_loyal,no_loyal
1,86500,2,2,2,2,2,2,2,2,2,...,1,1,0.842518,17.032144,inf,17.874661,17.874661,17.032144,no_loyal,no_loyal
2,86501,1,1,1,1,1,1,1,1,1,...,1,1,2.952185,inf,inf,2.952185,inf,inf,no_loyal,no_loyal
3,86502,1,1,1,1,1,1,1,1,1,...,1,1,0.706260,inf,inf,0.706260,inf,inf,no_loyal,no_loyal
4,86503,1,1,1,1,1,1,1,1,1,...,1,1,1.223789,inf,inf,1.223789,inf,inf,no_loyal,no_loyal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44083,133830,0,0,0,0,0,0,0,0,0,...,0,0,inf,inf,inf,inf,inf,inf,no_loyal,no_loyal
44084,133834,0,0,0,0,0,0,0,0,0,...,0,0,inf,inf,inf,inf,inf,inf,no_loyal,no_loyal
44085,133836,0,0,0,0,0,0,0,0,0,...,0,0,0.098785,14.097189,inf,14.195974,14.195974,14.097189,no_loyal,no_loyal
44086,133837,0,0,0,0,0,0,0,0,0,...,0,0,14.077242,inf,inf,14.077242,inf,inf,no_loyal,no_loyal
44087,133838,0,0,0,0,0,0,0,0,0,...,0,0,30.974825,inf,inf,30.974825,inf,inf,no_loyal,no_loyal

In [17]:
for i in range(len(f2)):
    if f2['interval_3_2'][i]==np.inf or f2['interval_3_1'][i]==np.inf:
        f2['interval_4_2'][i]=np.inf
        f2['interval_4_1'][i]=np.inf
        f2['interval_4_3'][i]=np.inf
        f2['interval_3_2'][i]=np.inf
        f2['interval_3_1'][i]=np.inf

C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_10752\2063965080.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2['interval_4_2'][i]=np.inf
C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_10752\2063965080.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2['interval_4_1'][i]=np.inf
C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_10752\2063965080.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2['interval_4_3'][i]=np.inf
C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_10752\2063965080.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2['interval_3_2'][i]=np.inf
C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_10752\2063965080.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2['interval_3_1'][i]=np.inf

In [18]:
f2

,user_id,order_times_in_first_1days,order_times_in_first_2days,order_times_in_first_3days,order_times_in_first_4days,order_times_in_first_5days,order_times_in_first_6days,order_times_in_first_7days,order_times_in_first_8days,order_times_in_first_9days,...,cancel_order_times_in_first_13days,cancel_order_times_in_first_14days,interval_2_1,interval_3_2,interval_4_3,interval_3_1,interval_4_1,interval_4_2,label,label2
0,86499,1,1,1,1,1,1,1,1,1,...,1,1,2.911871,inf,inf,inf,inf,inf,no_loyal,no_loyal
1,86500,2,2,2,2,2,2,2,2,2,...,1,1,0.842518,17.032144,inf,17.874661,17.874661,17.032144,no_loyal,no_loyal
2,86501,1,1,1,1,1,1,1,1,1,...,1,1,2.952185,inf,inf,inf,inf,inf,no_loyal,no_loyal
3,86502,1,1,1,1,1,1,1,1,1,...,1,1,0.706260,inf,inf,inf,inf,inf,no_loyal,no_loyal
4,86503,1,1,1,1,1,1,1,1,1,...,1,1,1.223789,inf,inf,inf,inf,inf,no_loyal,no_loyal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44083,133830,0,0,0,0,0,0,0,0,0,...,0,0,inf,inf,inf,inf,inf,inf,no_loyal,no_loyal
44084,133834,0,0,0,0,0,0,0,0,0,...,0,0,inf,inf,inf,inf,inf,inf,no_loyal,no_loyal
44085,133836,0,0,0,0,0,0,0,0,0,...,0,0,0.098785,14.097189,inf,14.195974,14.195974,14.097189,no_loyal,no_loyal
44086,133837,0,0,0,0,0,0,0,0,0,...,0,0,14.077242,inf,inf,inf,inf,inf,no_loyal,no_loyal
44087,133838,0,0,0,0,0,0,0,0,0,...,0,0,30.974825,inf,inf,inf,inf,inf,no_loyal,no_loyal

In [19]:
for i in range(len(f2)):
    if f2['interval_4_2'][i]==np.inf or f2['interval_4_1'][i]==np.inf or f2['interval_4_3'][i]==np.inf:
        f2['interval_4_2'][i]=np.inf
        f2['interval_4_1'][i]=np.inf
        f2['interval_4_3'][i]=np.inf

C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_10752\1211837316.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2['interval_4_2'][i]=np.inf
C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_10752\1211837316.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2['interval_4_1'][i]=np.inf
C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_10752\1211837316.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f2['interval_4_3'][i]=np.inf

In [20]:
f2

,user_id,order_times_in_first_1days,order_times_in_first_2days,order_times_in_first_3days,order_times_in_first_4days,order_times_in_first_5days,order_times_in_first_6days,order_times_in_first_7days,order_times_in_first_8days,order_times_in_first_9days,...,cancel_order_times_in_first_13days,cancel_order_times_in_first_14days,interval_2_1,interval_3_2,interval_4_3,interval_3_1,interval_4_1,interval_4_2,label,label2
0,86499,1,1,1,1,1,1,1,1,1,...,1,1,2.911871,inf,inf,inf,inf,inf,no_loyal,no_loyal
1,86500,2,2,2,2,2,2,2,2,2,...,1,1,0.842518,17.032144,inf,17.874661,inf,inf,no_loyal,no_loyal
2,86501,1,1,1,1,1,1,1,1,1,...,1,1,2.952185,inf,inf,inf,inf,inf,no_loyal,no_loyal
3,86502,1,1,1,1,1,1,1,1,1,...,1,1,0.706260,inf,inf,inf,inf,inf,no_loyal,no_loyal
4,86503,1,1,1,1,1,1,1,1,1,...,1,1,1.223789,inf,inf,inf,inf,inf,no_loyal,no_loyal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44083,133830,0,0,0,0,0,0,0,0,0,...,0,0,inf,inf,inf,inf,inf,inf,no_loyal,no_loyal
44084,133834,0,0,0,0,0,0,0,0,0,...,0,0,inf,inf,inf,inf,inf,inf,no_loyal,no_loyal
44085,133836,0,0,0,0,0,0,0,0,0,...,0,0,0.098785,14.097189,inf,14.195974,inf,inf,no_loyal,no_loyal
44086,133837,0,0,0,0,0,0,0,0,0,...,0,0,14.077242,inf,inf,inf,inf,inf,no_loyal,no_loyal
44087,133838,0,0,0,0,0,0,0,0,0,...,0,0,30.974825,inf,inf,inf,inf,inf,no_loyal,no_loyal

In [21]:
f2.columns

Index(['user_id', 'order_times_in_first_1days', 'order_times_in_first_2days',
       'order_times_in_first_3days', 'order_times_in_first_4days',
       'order_times_in_first_5days', 'order_times_in_first_6days',
       'order_times_in_first_7days', 'order_times_in_first_8days',
       'order_times_in_first_9days', 'order_times_in_first_10days',
       'order_times_in_first_11days', 'order_times_in_first_12days',
       'order_times_in_first_13days', 'order_times_in_first_14days',
       'cancel_order_times_in_first_1days',
       'cancel_order_times_in_first_2days',
       'cancel_order_times_in_first_3days',
       'cancel_order_times_in_first_4days',
       'cancel_order_times_in_first_5days',
       'cancel_order_times_in_first_6days',
       'cancel_order_times_in_first_7days',
       'cancel_order_times_in_first_8days',
       'cancel_order_times_in_first_9days',
       'cancel_order_times_in_first_10days',
       'cancel_order_times_in_first_11days',
       'cancel_order_times_in_first_12days',
       'cancel_order_times_in_first_13days',
       'cancel_order_times_in_first_14days', 'interval_2_1', 'interval_3_2',
       'interval_4_3', 'interval_3_1', 'interval_4_1', 'interval_4_2', 'label',
       'label2'],
      dtype='object')

In [22]:
f2['order_in_2nd']=f2["order_times_in_first_2days"]-f2["order_times_in_first_1days"]

In [27]:
f2['order_in_3rd']=f2["order_times_in_first_3days"]-f2["order_times_in_first_2days"]
f2['order_in_4th']=f2["order_times_in_first_4days"]-f2["order_times_in_first_3days"]
f2['order_in_5th']=f2["order_times_in_first_5days"]-f2["order_times_in_first_4days"]
f2['order_in_6th']=f2["order_times_in_first_6days"]-f2["order_times_in_first_5days"]
f2['order_in_7th']=f2["order_times_in_first_7days"]-f2["order_times_in_first_6days"]
f2['order_in_8th']=f2["order_times_in_first_8days"]-f2["order_times_in_first_7days"]
f2['order_in_9th']=f2["order_times_in_first_9days"]-f2["order_times_in_first_8days"]
f2['order_in_10th']=f2["order_times_in_first_10days"]-f2["order_times_in_first_9days"]
f2['order_in_11th']=f2["order_times_in_first_11days"]-f2["order_times_in_first_10days"]
f2['order_in_12th']=f2["order_times_in_first_12days"]-f2["order_times_in_first_11days"]
f2['order_in_13th']=f2["order_times_in_first_13days"]-f2["order_times_in_first_12days"]
f2['order_in_14th']=f2["order_times_in_first_14days"]-f2["order_times_in_first_13days"]

In [28]:
f2

,user_id,order_times_in_first_1days,order_times_in_first_2days,order_times_in_first_3days,order_times_in_first_4days,order_times_in_first_5days,order_times_in_first_6days,order_times_in_first_7days,order_times_in_first_8days,order_times_in_first_9days,...,order_in_5th,order_in_6th,order_in_7th,order_in_8th,order_in_9th,order_in_10th,order_in_11th,order_in_12th,order_in_13th,order_in_14th
0,86499,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,86500,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
2,86501,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,86502,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,86503,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44083,133830,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44084,133834,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44085,133836,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44086,133837,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44087,133838,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
f2.columns

Index(['user_id', 'order_times_in_first_1days', 'order_times_in_first_2days',
       'order_times_in_first_3days', 'order_times_in_first_4days',
       'order_times_in_first_5days', 'order_times_in_first_6days',
       'order_times_in_first_7days', 'order_times_in_first_8days',
       'order_times_in_first_9days', 'order_times_in_first_10days',
       'order_times_in_first_11days', 'order_times_in_first_12days',
       'order_times_in_first_13days', 'order_times_in_first_14days',
       'cancel_order_times_in_first_1days',
       'cancel_order_times_in_first_2days',
       'cancel_order_times_in_first_3days',
       'cancel_order_times_in_first_4days',
       'cancel_order_times_in_first_5days',
       'cancel_order_times_in_first_6days',
       'cancel_order_times_in_first_7days',
       'cancel_order_times_in_first_8days',
       'cancel_order_times_in_first_9days',
       'cancel_order_times_in_first_10days',
       'cancel_order_times_in_first_11days',
       'cancel_order_times_in_first_12days',
       'cancel_order_times_in_first_13days',
       'cancel_order_times_in_first_14days', 'interval_2_1', 'interval_3_2',
       'interval_4_3', 'interval_3_1', 'interval_4_1', 'interval_4_2', 'label',
       'label2', 'order_in_2nd', 'order_in_3rd', 'order_in_4th',
       'order_in_5th', 'order_in_6th', 'order_in_7th', 'order_in_8th',
       'order_in_9th', 'order_in_10th', 'order_in_11th', 'order_in_12th',
       'order_in_13th', 'order_in_14th'],
      dtype='object')

In [31]:
sb = pd.read_csv('C:/Users/chenyuzhou/Desktop/sub_interval.csv')

In [32]:
sb=sb[['user_id','interval']]

In [33]:
final = pd.merge(f2, sb, how='inner')

In [34]:
final

,user_id,order_times_in_first_1days,order_times_in_first_2days,order_times_in_first_3days,order_times_in_first_4days,order_times_in_first_5days,order_times_in_first_6days,order_times_in_first_7days,order_times_in_first_8days,order_times_in_first_9days,...,order_in_6th,order_in_7th,order_in_8th,order_in_9th,order_in_10th,order_in_11th,order_in_12th,order_in_13th,order_in_14th,interval
0,86499,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,23.0
1,86500,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,23.0
2,86501,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,23.0
3,86502,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,23.0
4,86503,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44083,133830,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23.0
44084,133834,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23.0
44085,133836,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23.0
44086,133837,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23.0
44087,133838,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23.0

In [40]:
tmp = pd.read_csv('C:/Users/chenyuzhou/Desktop/tmp.csv')

In [41]:
tmp.columns

Index(['user_id', 'order_times_in_1days', 'order_times_in_2days',
       'order_times_in_3days', 'order_times_in_4days', 'order_times_in_5days',
       'order_times_in_6days', 'order_times_in_7days', 'order_times_in_8days',
       'order_times_in_9days', 'order_times_in_10days',
       'order_times_in_11days', 'order_times_in_12days',
       'order_times_in_13days', 'order_times_in_14days',
       'cancel_order_times_in_1days', 'cancel_order_times_in_2days',
       'cancel_order_times_in_3days', 'cancel_order_times_in_4days',
       'cancel_order_times_in_5days', 'cancel_order_times_in_6days',
       'cancel_order_times_in_7days', 'cancel_order_times_in_8days',
       'cancel_order_times_in_9days', 'cancel_order_times_in_10days',
       'cancel_order_times_in_11days', 'cancel_order_times_in_12days',
       'cancel_order_times_in_13days', 'cancel_order_times_in_14days', '2_1',
       '3_2', '4_3', '5_4', '6_5', '3_1', '4_1', '5_1', '6_1', '4_2', '5_2',
       '6_2', '5_3', '6_3', '6_4', 'interval', 'first_spend', 'second_spend',
       'third_spend', 'f+s', 's+t', 'f+s+t', 'label', 'label2'],
      dtype='object')

In [42]:
tmp=tmp[['user_id','first_spend', 'second_spend',
       'third_spend', 'f+s', 's+t', 'f+s+t']]

In [43]:
tmp

       user_id  first_spend  second_spend  third_spend     f+s    s+t   f+s+t
0        86499         2.00         14.00         0.00   16.00  14.00   16.00
1        86500         2.00         14.00        14.00   16.00  28.00   30.00
2        86501         2.00         14.00         0.00   16.00  14.00   16.00
3        86502         2.00         14.00         0.00   16.00  14.00   16.00
4        86503         2.00         14.00         0.00   16.00  14.00   16.00
...        ...          ...           ...          ...     ...    ...     ...
44083   133830       256.26          0.00         0.00  256.26   0.00  256.26
44084   133834        34.24          0.00         0.00   34.24   0.00   34.24
44085   133836        14.98         21.94        17.66   36.92  39.60   54.58
44086   133837        14.98         17.66         0.00   32.64  17.66   32.64
44087   133838        22.47         17.66        17.66   40.13  35.32   57.79

[44088 rows x 7 columns]

In [45]:
final = pd.merge(final, tmp, how='inner')

In [46]:
final

,user_id,order_times_in_first_1days,order_times_in_first_2days,order_times_in_first_3days,order_times_in_first_4days,order_times_in_first_5days,order_times_in_first_6days,order_times_in_first_7days,order_times_in_first_8days,order_times_in_first_9days,...,order_in_12th,order_in_13th,order_in_14th,interval,first_spend,second_spend,third_spend,f+s,s+t,f+s+t
0,86499,1,1,1,1,1,1,1,1,1,...,0,0,0,23.0,2.00,14.00,0.00,16.00,14.00,16.00
1,86500,2,2,2,2,2,2,2,2,2,...,0,0,0,23.0,2.00,14.00,14.00,16.00,28.00,30.00
2,86501,1,1,1,1,1,1,1,1,1,...,0,0,0,23.0,2.00,14.00,0.00,16.00,14.00,16.00
3,86502,1,1,1,1,1,1,1,1,1,...,0,0,0,23.0,2.00,14.00,0.00,16.00,14.00,16.00
4,86503,1,1,1,1,1,1,1,1,1,...,0,0,0,23.0,2.00,14.00,0.00,16.00,14.00,16.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44083,133830,0,0,0,0,0,0,0,0,0,...,0,0,0,23.0,256.26,0.00,0.00,256.26,0.00,256.26
44084,133834,0,0,0,0,0,0,0,0,0,...,0,0,0,23.0,34.24,0.00,0.00,34.24,0.00,34.24
44085,133836,0,0,0,0,0,0,0,0,0,...,0,0,0,23.0,14.98,21.94,17.66,36.92,39.60,54.58
44086,133837,0,0,0,0,0,0,0,0,0,...,0,0,0,23.0,14.98,17.66,0.00,32.64,17.66,32.64
44087,133838,0,0,0,0,0,0,0,0,0,...,0,0,0,23.0,22.47,17.66,17.66,40.13,35.32,57.79

In [47]:
final.columns

Index(['user_id', 'order_times_in_first_1days', 'order_times_in_first_2days',
       'order_times_in_first_3days', 'order_times_in_first_4days',
       'order_times_in_first_5days', 'order_times_in_first_6days',
       'order_times_in_first_7days', 'order_times_in_first_8days',
       'order_times_in_first_9days', 'order_times_in_first_10days',
       'order_times_in_first_11days', 'order_times_in_first_12days',
       'order_times_in_first_13days', 'order_times_in_first_14days',
       'cancel_order_times_in_first_1days',
       'cancel_order_times_in_first_2days',
       'cancel_order_times_in_first_3days',
       'cancel_order_times_in_first_4days',
       'cancel_order_times_in_first_5days',
       'cancel_order_times_in_first_6days',
       'cancel_order_times_in_first_7days',
       'cancel_order_times_in_first_8days',
       'cancel_order_times_in_first_9days',
       'cancel_order_times_in_first_10days',
       'cancel_order_times_in_first_11days',
       'cancel_order_times_in_first_12days',
       'cancel_order_times_in_first_13days',
       'cancel_order_times_in_first_14days', 'interval_2_1', 'interval_3_2',
       'interval_4_3', 'interval_3_1', 'interval_4_1', 'interval_4_2', 'label',
       'label2', 'order_in_2nd', 'order_in_3rd', 'order_in_4th',
       'order_in_5th', 'order_in_6th', 'order_in_7th', 'order_in_8th',
       'order_in_9th', 'order_in_10th', 'order_in_11th', 'order_in_12th',
       'order_in_13th', 'order_in_14th', 'interval', 'first_spend',
       'second_spend', 'third_spend', 'f+s', 's+t', 'f+s+t'],
      dtype='object')

In [48]:
col_to_move = final.pop('label')
final = final.assign(label=col_to_move)

In [50]:
col_to_move = final.pop('label2')
final = final.assign(label2=col_to_move)

In [51]:
final

,user_id,order_times_in_first_1days,order_times_in_first_2days,order_times_in_first_3days,order_times_in_first_4days,order_times_in_first_5days,order_times_in_first_6days,order_times_in_first_7days,order_times_in_first_8days,order_times_in_first_9days,...,order_in_14th,interval,first_spend,second_spend,third_spend,f+s,s+t,f+s+t,label,label2
0,86499,1,1,1,1,1,1,1,1,1,...,0,23.0,2.00,14.00,0.00,16.00,14.00,16.00,no_loyal,no_loyal
1,86500,2,2,2,2,2,2,2,2,2,...,0,23.0,2.00,14.00,14.00,16.00,28.00,30.00,no_loyal,no_loyal
2,86501,1,1,1,1,1,1,1,1,1,...,0,23.0,2.00,14.00,0.00,16.00,14.00,16.00,no_loyal,no_loyal
3,86502,1,1,1,1,1,1,1,1,1,...,0,23.0,2.00,14.00,0.00,16.00,14.00,16.00,no_loyal,no_loyal
4,86503,1,1,1,1,1,1,1,1,1,...,0,23.0,2.00,14.00,0.00,16.00,14.00,16.00,no_loyal,no_loyal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44083,133830,0,0,0,0,0,0,0,0,0,...,0,23.0,256.26,0.00,0.00,256.26,0.00,256.26,no_loyal,no_loyal
44084,133834,0,0,0,0,0,0,0,0,0,...,0,23.0,34.24,0.00,0.00,34.24,0.00,34.24,no_loyal,no_loyal
44085,133836,0,0,0,0,0,0,0,0,0,...,0,23.0,14.98,21.94,17.66,36.92,39.60,54.58,no_loyal,no_loyal
44086,133837,0,0,0,0,0,0,0,0,0,...,0,23.0,14.98,17.66,0.00,32.64,17.66,32.64,no_loyal,no_loyal
44087,133838,0,0,0,0,0,0,0,0,0,...,0,23.0,22.47,17.66,17.66,40.13,35.32,57.79,no_loyal,no_loyal

In [59]:
select_cols=final.columns[1:55]

In [60]:
X=final[select_cols]

In [66]:
X

,order_times_in_first_1days,order_times_in_first_2days,order_times_in_first_3days,order_times_in_first_4days,order_times_in_first_5days,order_times_in_first_6days,order_times_in_first_7days,order_times_in_first_8days,order_times_in_first_9days,order_times_in_first_10days,...,order_in_12th,order_in_13th,order_in_14th,interval,first_spend,second_spend,third_spend,f+s,s+t,f+s+t
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,23.0,2.00,14.00,0.00,16.00,14.00,16.00
1,2,2,2,2,2,2,2,2,2,2,...,0,0,0,23.0,2.00,14.00,14.00,16.00,28.00,30.00
2,1,1,1,1,1,1,1,1,1,1,...,0,0,0,23.0,2.00,14.00,0.00,16.00,14.00,16.00
3,1,1,1,1,1,1,1,1,1,1,...,0,0,0,23.0,2.00,14.00,0.00,16.00,14.00,16.00
4,1,1,1,1,1,1,1,1,1,1,...,0,0,0,23.0,2.00,14.00,0.00,16.00,14.00,16.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44083,0,0,0,0,0,0,0,0,0,0,...,0,0,0,23.0,256.26,0.00,0.00,256.26,0.00,256.26
44084,0,0,0,0,0,0,0,0,0,0,...,0,0,0,23.0,34.24,0.00,0.00,34.24,0.00,34.24
44085,0,0,0,0,0,0,0,0,0,0,...,0,0,0,23.0,14.98,21.94,17.66,36.92,39.60,54.58
44086,0,0,0,0,0,0,0,0,0,0,...,0,0,0,23.0,14.98,17.66,0.00,32.64,17.66,32.64
44087,0,0,0,0,0,0,0,0,0,0,...,0,0,0,23.0,22.47,17.66,17.66,40.13,35.32,57.79

In [67]:
X.replace(np.inf, 9999, inplace=True)

C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_10752\1119355155.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.replace(np.inf, 9999, inplace=True)

In [68]:
X

,order_times_in_first_1days,order_times_in_first_2days,order_times_in_first_3days,order_times_in_first_4days,order_times_in_first_5days,order_times_in_first_6days,order_times_in_first_7days,order_times_in_first_8days,order_times_in_first_9days,order_times_in_first_10days,...,order_in_12th,order_in_13th,order_in_14th,interval,first_spend,second_spend,third_spend,f+s,s+t,f+s+t
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,23.0,2.00,14.00,0.00,16.00,14.00,16.00
1,2,2,2,2,2,2,2,2,2,2,...,0,0,0,23.0,2.00,14.00,14.00,16.00,28.00,30.00
2,1,1,1,1,1,1,1,1,1,1,...,0,0,0,23.0,2.00,14.00,0.00,16.00,14.00,16.00
3,1,1,1,1,1,1,1,1,1,1,...,0,0,0,23.0,2.00,14.00,0.00,16.00,14.00,16.00
4,1,1,1,1,1,1,1,1,1,1,...,0,0,0,23.0,2.00,14.00,0.00,16.00,14.00,16.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44083,0,0,0,0,0,0,0,0,0,0,...,0,0,0,23.0,256.26,0.00,0.00,256.26,0.00,256.26
44084,0,0,0,0,0,0,0,0,0,0,...,0,0,0,23.0,34.24,0.00,0.00,34.24,0.00,34.24
44085,0,0,0,0,0,0,0,0,0,0,...,0,0,0,23.0,14.98,21.94,17.66,36.92,39.60,54.58
44086,0,0,0,0,0,0,0,0,0,0,...,0,0,0,23.0,14.98,17.66,0.00,32.64,17.66,32.64
44087,0,0,0,0,0,0,0,0,0,0,...,0,0,0,23.0,22.47,17.66,17.66,40.13,35.32,57.79

In [69]:
y=final['label']

In [70]:
y2=final['label2']

In [71]:
# Create and fit random forest classifier
rfc = RandomForestClassifier()
rfc.fit(X, y)

# Create Boruta object and set estimator
boruta = BorutaPy(rfc, n_estimators='auto', verbose=2)

# Perform feature selection
boruta.fit(X.values, y.values)

# Get selected features
selected_features = X.columns[boruta.support_]

# Print selected features
print(selected_features)

Iteration: 	1 / 100
Confirmed: 	0
Tentative: 	54
Rejected: 	0
Iteration: 	2 / 100
Confirmed: 	0
Tentative: 	54
Rejected: 	0
Iteration: 	3 / 100
Confirmed: 	0
Tentative: 	54
Rejected: 	0
Iteration: 	4 / 100
Confirmed: 	0
Tentative: 	54
Rejected: 	0
Iteration: 	5 / 100
Confirmed: 	0
Tentative: 	54
Rejected: 	0
Iteration: 	6 / 100
Confirmed: 	0
Tentative: 	54
Rejected: 	0
Iteration: 	7 / 100
Confirmed: 	0
Tentative: 	54
Rejected: 	0
Iteration: 	8 / 100
Confirmed: 	12
Tentative: 	0
Rejected: 	42


BorutaPy finished running.

Iteration: 	9 / 100
Confirmed: 	12
Tentative: 	0
Rejected: 	42
Index(['interval_2_1', 'interval_3_2', 'interval_4_3', 'interval_3_1',
       'interval_4_1', 'interval_4_2', 'interval', 'first_spend',
       'third_spend', 'f+s', 's+t', 'f+s+t'],
      dtype='object')

In [72]:
# Create and fit random forest classifier
rfc = RandomForestClassifier()
rfc.fit(X, y2)

# Create Boruta object and set estimator
boruta = BorutaPy(rfc, n_estimators='auto', verbose=2)

# Perform feature selection
boruta.fit(X.values, y2.values)

# Get selected features
selected_features2 = X.columns[boruta.support_]

# Print selected features
print(selected_features2)

Iteration: 	1 / 100
Confirmed: 	0
Tentative: 	54
Rejected: 	0
Iteration: 	2 / 100
Confirmed: 	0
Tentative: 	54
Rejected: 	0
Iteration: 	3 / 100
Confirmed: 	0
Tentative: 	54
Rejected: 	0
Iteration: 	4 / 100
Confirmed: 	0
Tentative: 	54
Rejected: 	0
Iteration: 	5 / 100
Confirmed: 	0
Tentative: 	54
Rejected: 	0
Iteration: 	6 / 100
Confirmed: 	0
Tentative: 	54
Rejected: 	0
Iteration: 	7 / 100
Confirmed: 	0
Tentative: 	54
Rejected: 	0
Iteration: 	8 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	9 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	10 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	11 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	12 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	13 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	14 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	15 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	16 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	17 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	18 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	19 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	20 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	21 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	22 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	23 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	24 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	25 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	26 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	27 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	28 / 100
Confirmed: 	12
Tentative: 	1
Rejected: 	41
Iteration: 	29 / 100
Confirmed: 	12
Tentative: 	0
Rejected: 	42


BorutaPy finished running.

Iteration: 	30 / 100
Confirmed: 	12
Tentative: 	0
Rejected: 	42
Index(['interval_2_1', 'interval_3_2', 'interval_4_3', 'interval_3_1',
       'interval_4_1', 'interval_4_2', 'interval', 'first_spend',
       'third_spend', 'f+s', 's+t', 'f+s+t'],
      dtype='object')

In [75]:
customer = final[['user_id','interval_2_1', 'interval_3_2', 'interval_4_3', 'interval_3_1',
       'interval_4_1', 'interval_4_2', 'interval', 'first_spend',
       'third_spend', 'f+s', 's+t', 'f+s+t','label','label2']]

In [76]:
customer

,user_id,interval_2_1,interval_3_2,interval_4_3,interval_3_1,interval_4_1,interval_4_2,interval,first_spend,third_spend,f+s,s+t,f+s+t,label,label2
0,86499,2.911871,inf,inf,inf,inf,inf,23.0,2.00,0.00,16.00,14.00,16.00,no_loyal,no_loyal
1,86500,0.842518,17.032144,inf,17.874661,inf,inf,23.0,2.00,14.00,16.00,28.00,30.00,no_loyal,no_loyal
2,86501,2.952185,inf,inf,inf,inf,inf,23.0,2.00,0.00,16.00,14.00,16.00,no_loyal,no_loyal
3,86502,0.706260,inf,inf,inf,inf,inf,23.0,2.00,0.00,16.00,14.00,16.00,no_loyal,no_loyal
4,86503,1.223789,inf,inf,inf,inf,inf,23.0,2.00,0.00,16.00,14.00,16.00,no_loyal,no_loyal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44083,133830,inf,inf,inf,inf,inf,inf,23.0,256.26,0.00,256.26,0.00,256.26,no_loyal,no_loyal
44084,133834,inf,inf,inf,inf,inf,inf,23.0,34.24,0.00,34.24,0.00,34.24,no_loyal,no_loyal
44085,133836,0.098785,14.097189,inf,14.195974,inf,inf,23.0,14.98,17.66,36.92,39.60,54.58,no_loyal,no_loyal
44086,133837,14.077242,inf,inf,inf,inf,inf,23.0,14.98,0.00,32.64,17.66,32.64,no_loyal,no_loyal
44087,133838,30.974825,inf,inf,inf,inf,inf,23.0,22.47,17.66,40.13,35.32,57.79,no_loyal,no_loyal

In [79]:
customer.replace(np.inf, 9999, inplace=True)

C:\Users\chenyuzhou\AppData\Local\Temp\ipykernel_10752\1115837775.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer.replace(np.inf, 9999, inplace=True)

In [80]:
final.replace(np.inf, 9999, inplace=True)

In [81]:
outputpath='C:/Users/chenyuzhou/Desktop/customer.csv'
customer.to_csv(outputpath,sep=',',index=False,header=True)

In [82]:
outputpath='C:/Users/chenyuzhou/Desktop/final.csv'
final.to_csv(outputpath,sep=',',index=False,header=True)